@use "../global" as g;

// 下層ページ "観光名所"

// section "fv"
.kankou-fv {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 0;
}

.kankou-fv__inner {
  width: 100%;
  height: 100%;
  @include g.kankou-background-image;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

  @include g.mq(sm) {
    position: fixed;
    z-index: -1;
  }
}

// レスポンシブsmサイズ fv テキスト
.sp-kankou__text {
  display: none;

  @include g.mq(sm) {
    width: 318px;
    display: block;
    font-size: g.$f15;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.04em;
    text-align: justify;
    color: g.$mainColor;
    position: absolute;
    top: 10%;
    left: 12%;
    z-index: 10;
  }

  @include g.mq(ss) {
    width: 300px;
    display: block;
    font-size: g.$f12;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.04em;
    text-align: justify;
    color: g.$mainColor;
    position: absolute;
    top: 16%;
    left: 4%;
    z-index: 10;
  }
}

.sp-kankou__text {
  br {
    display: block;

    @include g.mq(sm) {
      display: none;
    }
  }
}

// section "kankou"
.kankou {
  width: 100%;
  height: 2160px;
  @include g.kankou_bg-background-image;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 32px;
  padding-bottom: 112px;

  @include g.mq(lg) {
    padding-top: 48px;
    padding-bottom: 72px;
  }

  @include g.mq(ml) {
    height: 100%;
    background-position: 75%;
    padding-top: 48px;
    padding-bottom: 64px;
  }

  @include g.mq(sm) {
    background-color: g.$mainColor;
    background-position: 80%;
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.kankou__wrapper {
  $size: 1180px;
  width: 100%;
  max-width: $size;
  margin-right: auto;
  margin-left: auto;

  @include g.mq(lg) {
    $size: 1024px;
    max-width: $size;
  }

  @include g.mq(mx) {
    $size: 950px;
    max-width: $size;
  }

  @include g.mq(ml) {
    $size: 829px;
    max-width: $size;
  }

  @include g.mq(mm) {
    $size: 769px;
    max-width: $size;
  }

  @include g.mq(md) {
    $size: 640px;
    max-width: $size;
  }

  @include g.mq(ms) {
    $size: 550px;
    max-width: $size;
  }

  @include g.mq(sl) {
    $size: 480px;
    max-width: $size;
  }

  @include g.mq(sm) {
    $size: 350px;
    max-width: $size;
  }

  @include g.mq(ss) {
    $size: 320px;
    max-width: $size;
  }
}

// 序文
.kankou__text_foreword {
  font-size: g.$f18;
  line-height: 2.2;
  letter-spacing: 0.2em;
  text-align: center;
  background-color: g.$mainColor;
  border: g.$border_color 1px solid;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-top: 64px;
  margin-bottom: 120px;

  @include g.mq(lg) {
    letter-spacing: 0.16em;
    margin-top: 80px;
    margin-bottom: 120px;
  }

  @include g.mq(ml) {
    font-size: g.$f16;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-right: 64px;
    padding-left: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  @include g.mq(md) {
    letter-spacing: 0.04em;
    text-align: left;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 56px;
    margin-bottom: 56px;
  }

  @include g.mq(sm) {
    width: 100%;
    font-size: g.$f15;
    letter-spacing: 0.04em;
    line-height: 2;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.kankou__text_foreword {
  br {
    display: block;

    @include g.mq(md) {
      display: none;
    }
  }
}

// 観光名所 Contents
.kankou__inner {
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 0;

  @include g.mq(ml) {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.kankou__inner_secondary {
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 0;
  margin-top: 152px;
  margin-bottom: 152px;

  @include g.mq(lg) {
    margin-top: 128px;
    margin-bottom: 128px;
  }

  @include g.mq(ml) {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 64px;
  }

  @include g.mq(md) {
    margin-top: 56px;
    margin-bottom: 56px;
  }

  @include g.mq(sm) {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.kankou__inner_third {
  height: 380px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  z-index: 0;

  @include g.mq(ml) {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.kankou__textInner {
  width: 800px;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 0.08em;
  text-align: justify;
  background-color: g.$mainColor;
  z-index: 5;

  @include g.mq(lg) {
    width: 80%;
  }

  @include g.mq(ml) {
    width: 100%;
    height: 100%;
  }

  @include g.mq(md) {
    letter-spacing: 0.08em;
  }
}

// textInner
.kankou__inner {
  .kankou__textInner {
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
    padding-left: 226px;

    @include g.mq(lg) {
      padding-left: 248px;
    }

    @include g.mq(ml) {
      padding-top: 64px;
      padding-right: 48px;
      padding-bottom: 24px;
      padding-left: 48px;
    }

    @include g.mq(md) {
      letter-spacing: 0.06em;
      padding-top: 48px;
      padding-right: 16px;
      padding-bottom: 32px;
      padding-left: 16px;
    }

    @include g.mq(sm) {
      padding-top: 32px;
      padding-right: 24px;
      padding-bottom: 32px;
      padding-left: 24px;
    }
  }
}

// second textInner
.kankou__inner_secondary {
  .kankou__textInner {
    padding-top: 32px;
    padding-right: 184px;
    padding-bottom: 24px;
    padding-left: 24px;

    @include g.mq(lg) {
      padding-top: 16px;
      padding-right: 240px;
      padding-bottom: 16px;
      padding-left: 16px;
    }

    @include g.mq(ml) {
      padding-top: 64px;
      padding-right: 48px;
      padding-bottom: 24px;
      padding-left: 48px;
    }

    @include g.mq(md) {
      letter-spacing: 0.08em;
      padding-top: 48px;
      padding-right: 16px;
      padding-bottom: 32px;
      padding-left: 16px;
    }

    @include g.mq(sm) {
      padding-top: 32px;
      padding-right: 24px;
      padding-bottom: 32px;
      padding-left: 24px;
    }
  }
}

// third textInner
.kankou__inner_third {
  .kankou__textInner {
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 224px;

    @include g.mq(lg) {
      padding-left: 248px;
    }

    @include g.mq(ml) {
      padding-top: 64px;
      padding-right: 48px;
      padding-bottom: 24px;
      padding-left: 48px;
    }

    @include g.mq(md) {
      padding-top: 48px;
      padding-right: 16px;
      padding-bottom: 32px;
      padding-left: 16px;
    }

    @include g.mq(sm) {
      padding-top: 32px;
      padding-right: 24px;
      padding-bottom: 32px;
      padding-left: 24px;
    }
  }
}

.kankou__text {
  line-height: 2;
  margin-top: 48px;

  @include g.mq(lg) {
    margin-top: 24px;
  }

  @include g.mq(ml) {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  @include g.mq(sm) {
    font-size: g.$f15;
  }
}

.kankou__text {
  br {
    display: block;

    @include g.mq(md) {
      display: none;
    }
  }
}

.kankou__text_secondary {
  line-height: 2;
  margin-top: 32px;

  @include g.mq(lg) {
    line-height: 1.8;
    margin-top: 16px;
  }

  @include g.mq(ml) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.kankou__text_secondary {
  br {
    display: block;

    @include g.mq(md) {
      display: none;
    }
  }
}

.kankou__text_third {
  line-height: 2;
  margin-top: 32px;

  @include g.mq(lg) {
    line-height: 1.8;
    margin-top: 16px;
  }

  @include g.mq(ml) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

// imageInner
.kankou__inner {
  .kankou__imageInner {
    margin-top: -57px;
    margin-right: -158px;
    z-index: 10;

    @include g.mq(lg) {
      margin-top: -57px;
      margin-right: -216px;
    }

    @include g.mq(ml) {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: -32px;
    }

    @include g.mq(md) {
      margin-bottom: 0;
    }
  }
}

// second imageInner
.kankou__inner_secondary {
  .kankou__imageInner {
    margin-top: -57px;
    margin-left: -158px;
    z-index: 10;

    @include g.mq(lg) {
      margin-top: -57px;
      margin-left: -216px;
    }

    @include g.mq(ml) {
      margin-top: 0;
      margin-left: 0;
      margin-bottom: -32px;
      order: -1;
    }

    @include g.mq(md) {
      margin-bottom: 0;
    }
  }
}

// third imageInner
.kankou__inner_third {
  .kankou__imageInner {
    margin-top: -57px;
    margin-right: -158px;
    z-index: 10;

    @include g.mq(lg) {
      margin-top: -57px;
      margin-right: -216px;
    }

    @include g.mq(ml) {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: -32px;
    }

    @include g.mq(md) {
      margin-bottom: 0;
    }
  }
}

.kankou__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 2;
  -o-object-fit: cover;
  object-fit: cover;
}
