// 変数 color

$mainColor: #ffffff;
$textColor: #000000;
$text_subColor: #797878; // モーダル
$border_color: #707070;
$border_subColor: #e7e7e7; // 下層ページ border 温泉の効能
$bg_buttonColor: #3fb9ff; // 有料観覧席予約ボタン

// $bg_buttonColor: #978f10; // 有料観覧席予約ボタン
$bg_gridColor: #f6f6f6; // section "news"

// flatpickr
$sunday_color: #f00; // 日曜日:赤
$saturday_color : #25bdcf; // 土曜日:青
