<section class="about">
  <div class="wrapper">
    <div class="about__inner">
      <h2 class="about__title">
        <span class="about__heading">
          心躍るひとときが
        </span>
        <span class="about__heading_secondary">
          大切な思い出に変わる瞬間
        </span>
      </h2>
      <p class="about__text">
        千葉県中西部に位置する袖ノ浦市。<br>東京湾に面した美しい海岸線と<br class="sl-about__text_br">自然が豊かな環境が特徴です。<br>歴史的な文化や観光名所が市内に点在し、<br>新鮮な野菜を使った料理と地元の温かい雰囲気は、<br>訪れる人々を魅了しています。
      </p>
      <p class="about__text">
        1991年より市制を施行し、<br>2022年度時点での人口は約6万6千人。<br>この間、東京湾アクアラインや<br class="sl-about__text_br">東関東自動車道が開通するなど<br>飛躍的に利便性が高まった袖ノ浦市は<br>自然にも恵まれた暮らしやすい都市として、<br>住民の安定した生活を提供しています。
      </p>
      <p class="about__text">
        待ちに待った今年の夏。<br>新型コロナウィルスの影響で中止となっていた港夏祭りが、<br>4年ぶりに開催されます。<br>地元特産の新鮮な食材を使った屋台料理、<br>新たに趣向を凝らした演出で力強く進化させた花火大会、<br>地域の絆を再び感じ、<br class="sl-about__text_br">思い出に残る素晴らしい時を過ごしましょう。<br>伝統と新たな挑戦が交差する港夏祭りが、<br>あなたを驚きと笑顔の世界へと誘います。
      </p>
      <p class="about__text">
        袖ノ浦市観光委員会
      </p>
    </div><!-- /.about__inner -->
  </div><!-- /.wrapper -->
</section>
