<section class="access">
  <div class="wrapper">
    <div class="section__titleInner">
      <h2 class="section__title">
        <span class="section__logo">
          <a class="section__logo_link" href="/index.html" aria-label="袖ノ浦港夏祭り｜袖ノ浦市観光委員会【公式サイト】のイメージロゴ">
            <img class="section__logo_image" src="../../assets/images/logo02.png"
              srcset="../../assets/images/logo02.png 1x, ../../assets/images/logo02@2x.png 2x" width="40" height="40" alt=""
              decoding="async">
          </a>
        </span>
        <span class="section__heading">
          交通案内
        </span>
      </h2>
    </div><!-- /.section__title -->
    <div class="access__inner">
      <div class="access__contents_header">
        <div class="access__imageInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="1000">
            <div class="sp-access__linkBox">
              <button class="sp-access__button" type="button" onclick="location.href='/news/'"
                aria-label="交通案内についての詳細はこちらから">
                交通案内
              </button>
            </div><!-- /.sp-access__linkBox -->
            <figure class="access__image_contents">
              <img class="access__image lazyload" src="../../assets/images/access.jpg"
                srcset="../../assets/images/access.jpg 1x, ../../assets/images/access@2x.jpg 2x" alt="東京湾を横断する高速道路東京湾アクアラインを上空から写した写真"
                width="656" height="370">
            </figure>
          </div><!-- /.js-aos -->
        </div><!-- /.access__imageInner -->
        <div class="access__textInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="1500">
            <p class="access__text_exbold">
              車でのアクセス
            </p>
            <p class="access__text">
              首都圏中央連絡自動車道（圏央道）<br>
              東関東自動車道：姉ヶ崎袖ノ浦IC<br>
              東京湾アクアライン連絡道:袖ノ浦IC
            </p>
            <p class="access__text_exbold">
              高速バスでのアクセス
            </p>
            <p class="access__text">
              袖ノ浦バスターミナル
            </p>
            <p class="access__text_exbold">
              電車でのアクセス
            </p>
            <p class="access__text">
              JR東日本内房線：永浦駅 - 袖ノ浦駅
              <br>
              JR東日本内房線：横川駅 - 東横川駅
            </p>
            <p class="access__text">
              ＊会場特設駐車場の台数には限りがございます。混雑状況などの最新情報は当WebサイトやSNSで随時更新しております。
            </p>
          </div><!-- /.js-aos -->
        </div><!-- /.access__textInner -->
      </div><!-- /.access__contents_header -->

      <!-- Google Map -->
      <div class="access__contents_footer">
        <iframe class="access__iframe" title="袖ケ浦市のGoogle Mapの地図"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d104056.80248438909!2d139.93348681798312!3d35.41082531525143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60180aa97921ffd9%3A0x6bb1c2ddf9dc0f3!2z5Y2D6JGJ55yM6KKW44Kx5rWm5biC!5e0!3m2!1sja!2sjp!4v1690967357604!5m2!1sja!2sjp"
          width="800" height="600" allowfullscreen="" loading="lazy"></iframe>
      </div><!-- /.access__contents_footer -->
    </div><!-- /.access__inner -->
  </div><!-- /.wrapper -->
</section>
