<section class="charm">
  <div class="wrapper">
    <div class="section__titleInner">
      <h2 class="section__title">
        <span class="section__title_logo">
          <a class="section__logo_link" href="/index.html" aria-label="袖ノ浦港夏祭り｜袖ノ浦市観光委員会【公式サイト】のイメージロゴ">
            <img class="section__logo_image" src="../../assets/images/logo02.png"
              srcset="../../assets/images/logo02.png 1x, ../../assets/images/logo02@2x.png 2x" width="40" height="40" alt=""
              decoding="async">
          </a>
        </span>
        <span class="section__heading">夏祭りの魅力</span>
      </h2>
    </div><!-- /.section__titleInner -->
    <!-- 夏祭りの魅力 カード -->
    <div class="charm__inner">
      <!-- カード 1枚目 -->
      <article class="charm__card">
        <div class="card__textInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="1500">
            <div class="card__header">
              <h3 class="card__heading">
                伝統文化と民族芸能の伝承
              </h3>
            </div><!-- /.card__header -->
            <div class="card__footer">
              <p class="card__text">
                神輿や山車が練り歩く姿は、夏祭りの象徴的な風景です。華やかな装飾と祭囃子の音色が会場を彩ります。
                江戸時代から伝わる獅子神楽は、市の無形民俗文化財に指定されました。
                古くからの伝統を受け継ぐ貴重な瞬間を体験しましょう。
              </p>
            </div><!-- /.card__footer -->
          </div><!-- /.js-aos -->
        </div><!-- /.card__textInner -->
        <div class="card__imageInner">
          <div class="sp-card__linkBox">
            <span class="sp-card__text">
              夏祭りの魅力
            </span>
            <button class="sp-card__button" type="button" onclick="location.href='/hanabi/'"
              aria-label="伝統文化と民族芸能の伝承についての詳細はこちらから">
              伝統文化と民族芸能
            </button>
          </div><!-- /.sp-card__linkBox -->
          <div class="js-aos" data-aos="fade-up" data-aos-duration="1000">
            <figure class="card__thumbnail">
              <img class="card__image" src="../../assets/images/card01.jpg"
                srcset="../../assets/images/card01.jpg 1x, ../../assets/images/card01@2x.jpg 2x" alt="夏祭りの象徴とも言える神輿の写真" width="331"
                height="209">
            </figure>
          </div><!-- /.js-aos -->
        </div><!-- /.card__imageInner -->
      </article><!-- /.charm__card -->
      <!-- カード 2枚目 -->
      <article class="charm__card">
        <div class="card__textInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="1500">
            <div class="card__header">
              <h3 class="card__heading">
                少年団の太鼓演奏と盆踊り
              </h3>
            </div><!-- /.card__header -->
            <div class="card__footer">
              <p class="card__text">
                地元の少年・少女達による迫力ある太鼓の音色が会場の雰囲気を一層盛り上げます。
                力強い演奏に心が踊ること間違いなしです。
                また、若手クリエイターによるパフォーマンスなど、新しい要素を加えた盆踊りもお楽しみください。
              </p>
            </div><!-- /.card__footer -->
          </div><!-- /.js-aos -->
        </div><!-- /.card__textInner -->
        <div class="card__imageInner">
          <div class="sp-card__linkBox">
            <span class="sp-card__text">
              夏祭りの魅力
            </span>
            <button class="sp-card__button" type="button" onclick="location.href='/hanabi/'"
              aria-label="少年団の太鼓演奏と盆踊りの詳細はこちらから">
              太鼓演奏と盆踊り
            </button>
          </div><!-- /.sp-card__linkBox -->
          <div class="js-aos" data-aos="fade-up" data-aos-duration="1000">
            <figure class="card__thumbnail">
              <img class="card__image" src="../../assets/images/card02.jpg"
                srcset="../../assets/images/card02.jpg 1x, ../../assets/images/card02@2x.jpg 2x" alt="地元の少年団の男の子が太鼓を叩いている様子の写真"
                width="331" height="209">
            </figure>
          </div><!-- /.js-aos -->
        </div><!-- /.card__imageInner -->
      </article><!-- /.card__card -->
      <!-- カード 3枚目 -->
      <article class="charm__card">
        <div class="card__textInner">
          <div class="js-aos" data-aos="fade-up" data-aos-duration="1500">
            <div class="card__header">
              <h3 class="card__heading">
                地元の特産品が並ぶ絶品の味わい
              </h3>
            </div><!-- /.card__header -->
            <div class="card__footer">
              <p class="card__text">
                熱い夏を吹き飛ばす、爽やかでフルーティーなかき氷や冷たいスイカに子ども達も大喜び。漁港から直送の海鮮浜焼き、名物のソデノ焼きそばなど、地元の食材にこだわった料理が並ぶ屋台は、さまざまな味覚が堪能できます。
              </p>
            </div><!-- /.card__footer -->
          </div><!-- /.js-aos -->
        </div><!-- /.card__textInner -->
        <div class="card__imageInner">
          <div class="sp-card__linkBox">
            <span class="sp-card__text">
              夏祭りの魅力
            </span>
            <button class="sp-card__button" type="button" onclick="location.href='/hanabi/'"
              aria-label="地元の特産品が並ぶ屋台の詳細はこちらから">
              地元特産品が並ぶ屋台
            </button>
          </div><!-- /.sp-card__linkBox -->
          <div class="js-aos" data-aos="fade-up" data-aos-duration="1000">
            <figure class="card__thumbnail">
              <img class="card__image" src="../../assets/images/card03.jpg"
                srcset="../../assets/images/card03.jpg 1x, ../../assets/images/card03@2x.jpg 2x" alt="いちごシロップとブルーハワイの2種類のかき氷が美味しそうな写真"
                width="331" height="209">
            </figure>
          </div><!-- /.js-aos -->
        </div><!-- /.card__imageInner -->
      </article><!-- /.charm__card -->
    </div><!-- /.charm__inner -->
  </div><!-- /.wrapper -->
</section>
