<section class="features">
  <div class="wrapper">
    <!-- 夏祭り最新情報 -->
    <div class="features__inner">
      <div class="features__imageInner">
        <div class="js-aos" data-aos="fade-up" data-aos-duration="1500">
          <div class="sp-features__linkBox">
            <button class="sp-features__button" type="button" onclick="location.href='/news/'"
              aria-label="夏祭り最新情報についての詳細はこちらから">
              夏祭り最新情報
            </button>
          </div><!-- /.sp-features__linkBox -->
          <figure class="features__image_contents">
            <img class="features__image lazyload" src="../../assets/images/features01.jpg"
              srcset="../../assets/images/features01.jpg 1x, ../../assets/images/features01@2x.jpg 2x" alt="ずらりと並んだ屋台と提灯が壮観な夏祭りの風景写真"
              width="1050" height="545">
          </figure>
        </div><!-- /.js-aos -->
      </div><!-- /.features__imageInner -->
      <div class="features__textInner">
        <div class="js-aos" data-aos="fade-up" data-aos-duration="2000">
          <h2 class="features__heading">
            感動と楽しさがあふれる<br>夏の風物詩を4年ぶりに
          </h2>
          <p class="features__text">
            袖ノ浦市の伝統行事とも言える港夏祭りを開催します。<br>地域の人々との絆や文化を感じ、出店や屋台、そして浴衣姿の笑顔が織り成す夏の3日間。ぜひご参加ください。
          </p>
          <div class="features__linkBox">
            <button class="features__button" type="button" onclick="location.href='/news/'"
              aria-label="夏祭り最新情報についての詳細はこちらから">
              夏祭り最新情報
            </button>
          </div><!-- /.features__linkBox -->
        </div><!-- /.js-aos -->
      </div><!-- /.features__textInner -->
    </div><!-- /.features__inner -->
    <!-- 花火大会について -->
    <div class="features__inner">
      <div class="features__textInner">
        <div class="js-aos" data-aos="fade-up" data-aos-duration="2000">
          <h2 class="features__heading">
            美しいほど鮮やかに<br>夜空を乱舞する花火大会
          </h2>
          <p class="features__text">
            今年は3日間で計9,000発を打ち上げます。
            演出やイベントもさらにスケールアップし、より壮大で迫力を増した花火大会にご期待ください。
            終盤での熱狂のフィナーレは必見です。
            特別な体験をご希望の方に向けて有料観覧席をご用意しております。
          </p>
          <div class="features__linkBox">
            <button class="features__button" type="button" onclick="location.href='/hanabi/'"
              aria-label="花火大会についての詳細はこちらから">
              花火大会について
            </button>
          </div><!-- /.features__linkBox -->
        </div><!-- /.js-aos -->
      </div><!-- /.features__textInner -->
      <div class="features__imageInner">
        <div class="js-aos" data-aos="fade-up" data-aos-duration="1500">
          <div class="sp-features__linkBox">
            <button class="sp-features__button" type="button" onclick="location.href='/hanabi/'"
              aria-label="花火大会についての詳細はこちらから">花火大会について</button>
          </div><!-- /.sp-features__linkBox -->
          <figure class="features__image_contents">
            <img class="features__image lazyload" src="../../assets/images/features02.jpg"
              srcset="../../assets/images/features02.jpg 1x, ../../assets/images/features02@2x.jpg 2x" alt="花火大会を観覧する浴衣姿の4人の女性の写真"
              width="1050" height="545">
          </figure>
        </div><!-- /.js-aos -->
      </div><!-- /.features__imageInner -->
    </div><!-- /.features__inner -->
    <!-- 観光名所について -->
    <div class="features__inner">
      <div class="features__imageInner">
        <div class="js-aos" data-aos="fade-up" data-aos-duration="1500">
          <div class="sp-features__linkBox">
            <button class="sp-features__button" type="button" onclick="location.href='/kankou/'"
              aria-label="観光名所についての詳細はこちらから">観光名所について</button>
          </div><!-- /.sp-features__linkBox -->
          <figure class="features__image_contents">
            <img class="features__image lazyload" src="../../assets/images/features03.jpg"
              srcset="../../assets/images/features03.jpg, ../../assets/images/features03@2x.jpg 2x" alt="東京湾岸の海辺で遊ぶ女の子の写真"
              width="1050" height="545">
          </figure>
        </div><!-- /.js-aos -->
      </div><!-- /.features__imageInner -->
      <div class="features__textInner">
        <div class="js-aos" data-aos="fade-up" data-aos-duration="2000">
          <h2 class="features__heading">
            東京湾の白波と<br>海風を感じながら
          </h2>
          <p class="features__text">
            夏は多くの観光客で賑わう袖ノ浦海岸。
            広がる青い海と青空と砂浜が、リゾート気分を盛り上げます。
            また、夕暮れ時の夕日が東京湾に沈む光景は、心に残る美しさです。その他、市内の観光名所をご紹介します。
          </p>
          <div class="features__linkBox">
            <button class="features__button" type="button" onclick="location.href='/kankou/'"
              aria-label="観光名所についての詳細はこちらから">
              観光名所について
            </button>
          </div><!-- /.features__linkBox -->
        </div><!-- /.js-aos -->
      </div><!-- /.features__textInner -->
    </div><!-- /.features__inner -->
  </div><!-- /.features__wrapper -->
</section>
