<section id="js-fv" class="fv">
  <h2 class="fv__title">
    <span class="fv__heading">
      令和五年
    </span>
    <span class="fv__heading_secondary">
      袖ノ浦港夏祭り
    </span>
  </h2>
  <p class="fv__text">驚きと笑顔を</p>
  <p class="fv__text_secondary">四年ぶりに開催</p>
  <ul class="fv__menu">
    <li class="fv__menu_item"></li>
    <li class="fv__menu_item"></li>
    <li class="fv__menu_item"></li>
    <li class="fv__menu_item"></li>
    <li class="fv__menu_item"></li>
  </ul>
  <!-- /.fv -->
</section>
