<section class="table">
  <div class="table__wrapper">
    <div class="section__titleInner">
      <h2 class="section__title">
        <span class="section__title_logo">
          <a class="section__logo_link" href="/index.html" aria-label="袖ノ浦港夏祭り｜袖ノ浦市観光委員会【公式サイト】のイメージロゴ">
            <img class="section__logo_image" src="../../assets/images/logo02.png"
              srcset="../../assets/images/logo02.png 1x, ../../assets/images/logo02@2x.png 2x" width="40" height="40" alt=""
              decoding="async">
          </a>
        </span>
        <span class="section__heading">
          開催概要
        </span>
      </h2>
    </div><!-- /.section__title -->
    <div class="sp-table__linkBox">
      <button class="sp-table__button" type="button" onclick="location.href='/news/'" aria-label="開催概要についての詳細はこちらから">
        開催概要
      </button>
    </div><!-- /.sp-table__linkBox -->
    <div class="table__inner">
      <div class="js-aos" data-aos="zoom-up" data-aos-duration="2000">
        <table class="table__contents">
          <caption class="table__caption">
            袖ノ浦港夏祭りの開催概要
          </caption>
          <tr class="table__row">
            <th class="table__head" scope="row">
              日程
            </th>
            <td class="table__data">
              2023年8月xx日（金）～8月xx日（日）<br>
              16:00 ～ 21:00
            </td>
          </tr>
          <tr class="table__row">
            <th class="table__head table__head_secondary" rowspan="3" scope="rowgroup">
              会場
            </th>
            <td class="table__data">
              袖ノ浦海浜中央公園<br>
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__data">
              〒123-4567<br>
              千葉県袖ノ浦市海浜町xxx-xxx
            </td>
          </tr>
          <tr class="table__row">
            <td class="table__data">
              ※荒天時中止。最新情報は当サイトやSNSをご確認ください。
            </td>
          </tr>
        </table>
      </div><!-- /.js-aos -->
    </div><!-- /.table__inner -->
  </div><!-- /.wrapper -->
</section>
